<app-navbar></app-navbar>

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="bg-secondary login-container">
        <mat-form-field>
            <mat-label>Username</mat-label>
            <input matInput formControlName="username">
            <mat-error *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched"> Campo non valido </mat-error>
        </mat-form-field>
    
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" type="password">
            <mat-error *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"> Campo non valido </mat-error>
        </mat-form-field>

        <button class="bg-info" mat-raised-button type="submit">Login</button>
    </div>
</form>
